{% extends 'items/items_base.html' %}
	{% load crispy_forms_tags %}
	{% block main_item %}
		<div class="container">
			<h3 class="bottomSpace" align="center">Please enter your item for this category</h3>
			<div class="card cardShape cardSize">
				<div class="card-body">
					<form method="POST">
						{% csrf_token %}
						{{ form|crispy }}
						<input type="submit" class="btn btn-primary" value="Add">
						<a href="{% url 'categories:single' slug=cat.slug %}" class="btn btn-secondary">Cancel</a>
					</form>
				</div>
			</div>
		</div>
	{% endblock %}