{% extends "categories/category_base.html" %}
	{% load crispy_forms_tags %}
		{%block main_category %}
			<div class="container">
				<h3 class="bottomSpace" align="center">You can enter your changes here</h3>
				<div class="card cardShape cardSize">
					<div class="card-body">
						<form class="bootstrap4" method="POST" action="{% url 'categories:update' slug=category.slug%}">
							{% csrf_token %}
							{{ form|crispy }}
							<input type="submit" class="btn btn-warning" value="Update">
							<a href="{% url 'categories:userlist' pk=request.user.id%}" class="btn btn-secondary">Cancel</a>
						</form>
					</div>
				</div>
			</div>
		{% endblock %}